body{
      font-family: Arial, sans-serif;
      background-color: #e6e6e6;
      color: #e3e1e7;
      
}
h1{
    color: #f39c12;

}

body a{
    color: #3498db;
    text-decoration: none;
}

ul{
    list-style-type: square;
    padding-left: 20px;
    
}

.container{
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 126, 126, 0.5);
}